__pycache__/*
imagenes/*
.ipynb_checkpoints/*
*.npy
*.csv
*.tif
*.png
*.ipynb
*.py
My Trip To The Pyramids.pptx

!find_pyramids.ipynb
!source.py
!__init__.py
!setup.py
!panel.png
!images/*.tif
!results/*.npy
!results/*.csv
